*~
bin
obj
*.zip
[Dd]ebug-buildlog*.txt
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
~*
[Oo]utput/*
GraphPointReports/ChartImages/*
GraphPointReports/GaugeImages/*
ProjectGraphs/ChartImages/*
*.pyc
packages/
[Nn]u[Gg]et.exe
*.GhostDoc.xml
bower_components/
PackageOutput/*
*/.vs
*.nupkg
project.lock.json
**/.vs/*